################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/BlazorBootstrap
/BlazorBootstrap.Notika/bin/Debug/net9.0
/BlazorBootstrap.Notika/obj
/BlazorBootstrap.Notika/BlazorBootstrap.Notika.csproj.user
/BlazorBootstrap.slnLaunch.user
